.profile-container {
    display: flex;
    flex-direction: column;
}

.profile-title {
    font-size: 3em;
    font-weight: 1000;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    word-spacing: 20px;
    color: #364652;
}

.title-line {
    border: none;
    height: 4px;
    background-color: #364652;
    margin-bottom: 20px;
}

.profile-details {
    display: flex;
    align-items: flex-start;
    margin-left: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.relative {
    position: relative;
}

.profile-label {
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 0 4px;
    background-color: #fff;
    color: #888;
    font-size: 1rem;
    transition: transform 0.2s, font-size 0.2s, top 0.2s;
    pointer-events: none;
}

.profile-input {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    color: #364652;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.profile-input:focus + .profile-label,
.profile-input:not(:placeholder-shown) + .profile-label {
    transform: translateY(-24px);
    font-size: 0.75rem;
    top: -8px;
    background-color: #fff;
    padding: 0 4px;
}

.profile-name,
.events-attended,
.profile-points,
.profile-email,
.profile-phone,
.events-created {
    font-size: 1.5em;
    font-weight: 800;
    margin: 5px 0;
    color: #364652;
}

.recent-activities {
    margin-top: 20px;
}

.events-table {
    width: 100%;
    border-collapse: collapse;
}

.events-table th,
.events-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.events-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.custom-icon-size {
    width: 64px !important;   /* Force width, ensuring override */
    height: 64px !important;  /* Force height to match the width */
    font-size: 64px !important; /* Force font size if your icons are font-based */
}
