.profile-container {
    display: flex;
    flex-direction: column;
}

.profile-content {
    width: 93%;
    margin-left: 50px;
    margin-top: 15px;
}

.profile-title {
    font-size: 3em;
    font-weight: 1000;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    word-spacing: 20px;
    color: #364652;
}

.title-line {
    border: none;
    height: 4px;
    background-color: #364652;
    margin-bottom: 20px;
}

.profile-details {
    display: flex;
    align-items: flex-start;
    margin-left: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.profile-name,
.events-attended,
.profile-points,
.profile-email,
.profile-phone {
    font-size: 1.5em;
    font-weight: 800;
    margin: 5px 0;
    color: #364652;
}

.recent-activities {
    margin-top: 20px;
}

.events-table {
    width: 100%;
    border-collapse: collapse;
}

.events-table th,
.events-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.events-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}
