.sidebar {
    position: relative; 
    background-color: #AACCCC; 
    color: #364652; 
    padding: 20px;
    height: 100%; 
    width: 40%;
    overflow: hidden; 
    text-align: center;
    
}

.sidebar::before {
    content: ""; 
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;                            
    bottom: -20px;
    background-color: #FFF6E4; 
    z-index: 0; 
    border-radius: 10px; 
}

.sidebar > * {
    position: relative; 
    z-index: 1; 
}

.button {
    display: block; 
    width: 70%; /* Set a fixed width for the buttons */
    margin: 10px auto; /* Center the buttons */
    padding: 6px; /* Adjust padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.9rem; /* Adjust font size */

}

.interest-button {
    background-color: #E7F3F3;
    color: #364652;

}

.interest-button.active {
    background-color: #ffc107; 
}

.create-event-button {
    background-color: #ffffff; 
    color: #364652;
}

.event-form {
    margin-top: 10px;
}

.event-form input {
    padding: 5px;
    margin-right: 5px;
}

.event-form button {
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.beach-name {
    font-weight: 700;
    font-size: 2rem;
    color: #364652;
    padding-top: 20px;
}

.title-line {
    border: none;
    height: 4px;
    background-color: #364652;;
    margin-bottom: 20px;
    margin-top: 15px;
    
}

.welcome-message{
    font-weight: 600;
    font-size: 2rem;
    color: #364652;
    margin: 30px;
}