.button {
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    background-color: #abba77;
    color: #fdfad7;
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 30%;
    padding: 1%;
    border-radius: 10px;
    font-size: 1.6em;
    justify-content: center;
    margin-left: 30%;
}

